---
layout: archive
title: "Research"
permalink: /Research/
author_profile: true
---

<p></p>
<h1>Research Grants</h1> 
<ul>
  <li>PI, “An O2O Flipped Classroom for Students’ Collaboration and Innovation Development”, $250,000, HKU, TDG, 2020.09-2022.02</li>
  <li>PI, “Operational-Use Reliability Prediction and Optimal Inspection and Maintenance Plan Design for Heterogeneous Charging Piles for Electric Vehicles”, $627,878, RGC ECS, 2022.01-2025.02</li>
  <li>PI, “A Performance-based Reliability Modelling and Optimization Framework for Photovoltaic Fleets”, $855,055, RGC GRF, 2024.01-2026.12</li>
  <li>PI, “A Service Reliability Modelling and Profit Optimization Framework for Battery Swapping Stations”, $892,694, RGC GRF, 2025.01-2027.12</li>
  <li>Deputy Project Coordinator, “nD Blockchain for ESG Reporting”, $8,088,045, Innovation and Technology Support Programme (Platform Project)</li> 
</ul>

<p></p>
<h1>Publications and Working Papers</h1>
<h2>Reliability modelling and reliability testing design</h2>
<ul>
  <li>Y. Wei, Y. Cheng*, H. Liao,“ Fleet Service Reliability Analysis of Self-Service Systems under Failure-Induced Demand Switching and a Two-Dimensional Inspection and Maintenance Policy”, IEEE Transactions on Automation Science Engineering, in press.</li>
  <li>R. Li, J. Wu, Y. Li, Y. Cheng, “PeriodNet: Noise-Robust Fault Diagnosis Method under Varying Speed Conditions”, IEEE Transactions on Neural Networks and Learning Systems, in press.</li>
  <li>Y. Cheng, H. Liao and Z. Huang, “Optimal Degradation-based Hybrid Double-Stage Acceptance Sampling Plan for a Heterogeneous Product”, Reliability Engineering & System Safety, vol. 210, p.107453, 2021.</li>
  <li>Y. Cheng and E. A. Elsayed, “Design of Optimal Hybrid Sequential Testing Plans,” IISE Transactions, Quality and Reliability Engineering, 2021 (Best Practical Paper).</li>
  <li>Y. Cheng and E. A. Elsayed, “Reliability Modeling and Optimization of Operational Use of One-shot Units,” Reliability Engineering & System Safety, vol. 176, pp. 27-36, 2018.</li>
  <li>Y. Cheng and E. A. Elsayed, “Optimal Sequential ALT Plans for Systems with Mixture of One-Shot Units,” IEEE Transaction on Reliability, vol. 66, no. 4, pp. 997-1011, 2017.</li>
  <li>Y. Cheng and E. A. Elsayed, “Reliability Modeling of Mixtures of One-shot Units under Thermal Cyclic Stresses,” Reliability Engineering & System Safety, vol. 167, pp. 58-66, Nov. 2017.</li
  <li>Y. Cheng and E. A. Elsayed, “Reliability Modeling and Prediction of Systems with Mixture of Units,” IEEE Transaction on Reliability, vol. 65, no. 2, pp. 914-928, Jun. 2015.</li>
  <li>Z. Huang, Y. Wei, Y. Cheng*, “A Quantitative Framework for Performance-based Reliability Prediction for a Multi-Component System Subject to Dynamic Self-Reconfiguration”, Reliability Engineering & System Safety, under revision. </li>
</ul>

<h2>Resilience modelling and resilient system design</h2>
<ul>
  <li>Y. Wei, Y. Cheng*, H. Liao, “Optimal Resilience-Based Restoration of a System subject to Recurrent Dependent Hazards”, Reliability Engineering & System Safety, vol. 247, 2024.</li>
  <li>Y. Cheng, H. Liao, E. Elsayed, “From Reliability to Resilience: More Than Just Taking One Step Further”, IEEE Transactions on Reliability, vol. 1, 2023</li>
  <li>C. Zou, Y. Cheng*, J. Wang, “The Impact of the Variability of Patient Flow and Service Time on the Efficiency of Large-scale Outpatient Systems, IEEE Transactions on Computational Social Systems”, vol. 10, 2023</li>
  <li>Y. Gao, J. Wang, and Y. Cheng, “On Time-Dependent Critical Platforms and Tracks in Metro Systems,” Transportation Science, vol. 56, no. 4, pp. 953-971, 2022.</li>
  <li>C. Zhou, Y. Cheng*, J. Wang, “Critical Department Analysis for Large-Scale Outpatient Systems”, IEEE Transactions on Computational Social Systems, vol. 10, 2022</li>
  <li>Y. Cheng, E. A. Elsayed, Z. Huang, "Systems resilience assessments: a review, framework and metrics", International Journal of Production Research, vol. 60, no. 2, pp. 595-622, 2022.
  <li>Y. Gao, J. Wang, S. Gao and Y. Cheng*, “An Integrated Robust Design and Robust Control Strategy using the Genetic Algorithm”, IEEE Transaction on Industrial Informatics, vol. 17, no. 12, pp. 8378-8386, 2021.</li>
  <li>Y. Cheng and E. A. Elsayed, “Random Multi Hazard Resilience Modeling of Engineered Systems and Critical Infrastructures,” Reliability Engineering & System Safety, vol. 209, p.107453, 2021.</li>
  <li>Y. Cheng, J. Wang, and Y. Wang, “A User-based Bike Rebalancing Strategy for Free-Floating Bike Sharing Systems: A Bidding Model,” Transportation Research Part E: Logistics and Transportation Review, vol. 154, p. 102438, 2021.</li>
</ul>

<h2>Maintenance policy design</h2>
<ul>
    <li>Y. Wei, Y. Cheng*, and H. Liao, “A Quantitative Maintenance Policy Development Framework for a Fleet of Self-Service Systems”, Naval Research Logistics, to appear.</li>
    <li>Y. Wei, A. Li, and Y. Cheng*, “An Optimal Multi-Level Inspection and Maintenance Policy for a Multi-Component System with Protection Components”, Computers & Industrial Engineering, to appear.</li>
    <li>Y. Wei, & Y. Cheng*, “An Optimal Two-Dimensional Maintenance Policy for Self-Service Systems with Multi-Task Demands and Subject to Competing Sudden and Deterioration-Induced Failures”, Reliability Engineering & System Safety, vol. 255, p. 110628, 2025.</li>
    <li>Y. Cheng, Y. Wei and H. Liao, “Optimal Sampling-based Sequential Inspection and Maintenance Plans for a Heterogeneous Product with Competing Failure Modes”, Reliability Engineering & System Safety, vol. 218, p.108181, 2022.</li>
    <li>S. Zhao, Y. Wei and Y. Cheng*, “A Semi-Markov Decision Process based Reinforcement Learning Framework for a Joint Design, Maintenance, and Inventory Policy for a k-out-of-n Load-Sharing System Subject to Self-Announcing Failures”, Reliability Engineering & System Safety, under revision.</li>
    <li>Y. Wei, H. Liao, and Y. Cheng*, "Making an Optimal Inspection-free Replacement Decision for a System Subject to Hidden Malfunctions", IISE Transactions, under revision.</li>
</ul>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


<p></p>
<p></p>
<h1>Teams</h1>
<ul>
  <li>
    <strong> Ruixian Li </strong> (2022-) <br>
    Shanghai Jiao Tong University, M.Sc. in Mechanical Engineering <br>
    Shanghai Jiao Tong University, B.Eng. in Industrial Engineering <br>
    <strong>Research Interests:</strong> Interpretable deep learning, Statistical reliability modeling
  </li>
</ul>
<ul>
  <li>
    <strong>Ge Li </strong> (2022-) <br>
    The University of Hong Kong, M.Sc. in Energy Engineering  <br>
    Huazhong University of Science and Technology, B.Eng. in Energy and Power Engineering <br>
    <strong>Research Interests:</strong> Performance modeling of self-service system, EV charging operation
  </li>
</ul>
<ul>
  <li>
    <strong> Anchi Li </strong> (2021-) <br>
    Nanyang Technological University, M.Sc. in Communication Engineering <br>
    Southeast University, B.Eng. in Electrical Engineering and Automation <br>
    <strong>Research Interests:</strong> Maintenance policy optimization, Reliability modeling
  </li>
</ul>
<ul>
  <li>
    <strong>Sangqi Zhao</strong> (2021-) <br>
    University of Science and Technology of China, B.S. in Statistics <br>
    <strong>Research Interests:</strong> RL based system maintenance and operation
  </li>
</ul>
<ul>
  <li>
    <strong>Yian Wei</strong> (2020-2024) <br>
    Beihang University, M.Sc. in Mechanical Engineering <br>
    Beihang University, B.Eng. in Mechanical Engineering <br>
    <strong>Research Interests:</strong> Maintenance policy optimization, Reliability modeling, Resilience assessment <br>
    <strong>Current placement:</strong> Postdoc, The University of Hong Kong
  </li>
</ul>
<ul>
  <li>
    <strong>Zhiyi Huang</strong> (2019-2023) <br>
    Northwestern Polytechnical University, M.Sc.<br>
    Northwestern Polytechnical University, B.Eng.<br>
    <strong>Research Interests:</strong> System reliability modeling, Maintenance policy design <br>
  </li>
</ul>
<ul>
  <li>
    <strong>Yijia Wang</strong> (2017-2021) <br>
    Jilin University, B.Eng.<br>
    <strong>Research Interests:</strong> Optimization decision-making in smart agricultural production management, Water-soil-machinery coupling mechanisms and coordinated control <br>
    <strong>Current placement:</strong> Full Professor, Excellent Young Scientists (Overseas), Northeast Agricultural University
  </li>
</ul>



{% include base_path %}
