---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
<p></p>
<h1>Research Grants</h1>
<ul>
  <li>PI, “Operational-Use Reliability Prediction and Optimal Inspection and Maintenance Plan Design for Heterogeneous Charging Piles for Electric Vehicles”, $627,878, RGC ECS, 2021.01-2025.02</li>
  <li>PI, “A Performance-based Reliability Modelling and Optimization Framework for Photovoltaic Fleets”, $855,055, RGC GRF, 2023.01-2026.12</li>
  <li>PI, “A Service Reliability Modelling and Profit Optimization Framework for Battery Swapping Stations”, $892,694, RGC GRF, 2024.01-2027.12</li>
  <li>Deputy Project Coordinator, “nD Blockchain for ESG Reporting”, $8,088,045, Innovation and Technology Support Programme (Platform Project)</li>
</ul>

<p></p>
<h1>Publications</h1>
<h2>Maintenance</h2>
<h2>Resilience</h2>



<p></p>
<h1>Teams</h1>

<p></p>
<h1>Positions</h1>

{% include base_path %}
